{% extends 'base.html' %}
{% load static%}
{% block title%}danpy5's 博客{% endblock%}
{% block content %}
	{% load markup %}
	{% if contacts%}
	{% for article in contacts%}
		<div class="post-wrap">
			<div class="post">
				<h2><a href="{{article.get_absolute_url}}">{{article.title}}</a></h2>
				<div class="info">
					<span>{{article.create_time|date:"m月 d, Y"}}</span>
					<span>分类 : </span>
					<span><a href="{{article.category.get_absolute_url}}">{{article.category}}</a></span>
                    <span>.</span>
                    <span class="ds-thread-count"data-thread-key="{{article.id}}"></span>
                    <!--多说js加载开始，一个页面只需要加载一次 -->
                    <script type="text/javascript">
                    var duoshuoQuery = {short_name:"danpy5"};
                    (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = 'http://static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                    </script>
                    <!--多说js加载结束，一个页面只需要加载一次 -->
                    <span>.</span>
                    <span>点击数({{article.counts}}) </span>
				</div>
				{{article.contents_html|markdown:'codehilite'}}
			</div>
		</div>
	{% endfor %}
	{% include "page.html"%}
	{% endif %}

{% endblock%}
