
html,body,div,span,h1,h2,h3,h4,h5,h6,
p,a,img,ul,li,ol,table,tr,td,form{
	background: transparent;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

body{
	color: #333;
	/*background-color: #f3f3f3;*/
	background-color: black;
	background-size: auto 100%;
	background-position: right;
	/*background-image: url("../imgs/aeroman.jpg");*/
	/*background-repeat: no-repeat;*/
	
}


#main{
	width: 940px;
	height: 400px;
	/*border: 1px solid red;*/
	margin: 150px 170px 0px auto;
	padding: 35px 0 0 0;
	color: white;
}

.regist{
	margin-bottom: 20px;
}

input.form_input{
	width: 200px;
	height: 20px;
	line-height: 20px;

}

.form_input{
	vertical-align: middle;
	padding: 4px 8px;
	border:1px solid #999;
	box-shadow: inset 1px 1px 3px #c3c3c3;
	outline: none;
	background: #fff;
}
.check{
	margin: 0 170px;
	width: 200px;
	height: 20px;
	vertical-align: middle;
	padding: 4px 8px;
	
	outline: none;
	
}

input{
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-align: left;
	font: 12px/20px arial, helvetica, verdana, tahoma, sans-serif;
}

label{
	width: 110px;
	padding: 5px;
	vertical-align: middle;
	display: inline-block;
	text-align: right;
	cursor: default;
}